#header {
  position: relative;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  @media (min-width: $mediumWidth) {
    position: fixed;
    width: 50%;
  }

  @media (max-width: $mediumWidth - 1) {
    .scrolled & {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $colorWhite;
      z-index: 10;
    }
  }

  .page-title {
    display: inline-block;
    font-size: 1.25rem;
    color: $colorOrange;

    &-link {
      display: inline-block;
    }

    &-logo {
      display: block;
      width: 6.5rem;
      font-size: 0;

      @media (min-width: $mediumWidth) {
        width: 10.5rem;
      }

      svg {
        fill: $colorOrange;
      }
    }
  }
}

.menu-toggle-open {
  i {
    font-size: 3.5rem;
    color: $colorBlack;
    transition: color .2s linear;

    .menu-open &.open {
      display: none;
    }

    &.close {
      display: none;
    }
  }

  @media (min-width: $mediumWidth) {
    display: none;
  }

  html.no-touch & {
    display: none;
  }
}

.menu-toggle-closed {
  display: none;
  position: fixed;
  z-index: 11;
  top: 3rem;
  right: 0.625rem;
  padding: 0;
  margin-top: -28px;

  .menu-open & {
    display: inline-block !important;
  }

  i {
    font-size: 3.5rem;
    color: $colorBlack;
    transition: color .2s linear;

    .menu-open & {
      color: $colorWhite;
    }
  }
}
