.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out;

  @media (min-width: $mediumWidth) {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
  }

  .menu-open & {
    height: 100vh;
    z-index: 10;
  }
}

.nav-container-graphic,
.front-page-mobile-nav-graphic {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: $headerHeight;

  svg {
    fill: $colorOrange;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
  }
}

.nav-container-graphic {
  @media (max-width: $mediumWidth - 1) {
    svg {
      fill: darken($colorOrange, 5%);
    }
  }
}

.front-page-mobile-nav-graphic {
  @media (min-width: $mediumWidth) {
    display: none;
  }
}

#nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (min-width: $mediumWidth) {
    justify-content: center;
    position: absolute;
    top: 0;
  }
}

.nav-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: $colorOrange;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  z-index: -1;

  .menu-open & {
    opacity: 0.95;
    z-index: 10;
  }
}

.main-theme-menu,
.frontpage-mobile-menu {
  @media (min-width: $smallWidth) and (max-width: $mediumWidth - 1) {
    padding-left: $paddingLarge;
  }

  .menu-item {
    font-size: 3.4rem;
    font-family: "macho",sans-serif;
    font-weight: $titleFontWeight;
    line-height: 1;
    text-transform: uppercase;
    color: $colorWhite;
    padding-bottom: calc(#{$paddingLarge} - 10px);

    @media (min-width: $mediumWidth) {
      color: $colorBlack;
    }

    @media (min-width: $largeWidth) {
      font-size: 5rem;
    }

    a {
      position: relative;
      display: inline-block;
      padding-bottom: 10px;

      html.no-touch &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 50%;
        height: 6px;
        bottom: 0;
        transition: width .2s, left .2s;
        transition-timing-function: ease-in-out;
        width: 0;
      }

      html.no-touch &:hover,
      html.no-touch &:active {
        &:after {
          background-color: $colorBlack;
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

html.touch .main-theme-menu {
  a:hover,
  a:active {
    &:after {
      background-color: $colorWhite;
    }
  }
}

.frontpage-mobile-menu-container {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -6rem;

  .menu-item {
    color: $colorBlack;
  }

  @media (min-width: $mediumWidth) {
    display: none;
  }
}
