* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.site-background-image {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

#primary {
  @media (min-width: $mediumWidth) {
    width: 50%;
    float: right;
    padding-top: $headerHeight;
  }

  &.front-page {
    position: relative;
  }
}

#main {
  @media (min-width: $mediumWidth) {
    max-width: 40rem;
  }
}

@media (max-width: $mediumWidth - 1) {
  .scrolled #wrapper {
    padding-top: $headerHeight;
  }
}

.button {
  display: inline-block;
  border: none;
  background-color: transparent;
}
