// Default font size
$defaultFontSize: 16px;

// Base typography
$baseFontFamily: "macho", "Helvetica", sans-serif;
$baseFontSize: 1rem * (14px / $defaultFontSize);
$baseLineHeight: 1.5em;
$baseFontWeight: 500;
$ingressFontWeight: 600;
$titleFontWeight: 700;

// Elements
$headerHeight: 6rem;

// Colors
$colorBlack: #000;
$colorWhite: #fff;
$colorOrange: #ee612d;
$colorErrorOrange: #ffa64b;

// Paddings
$paddingSmall: 0.625rem;
$paddingLarge: 1.25rem;
